@font-face {
  font-family: 'Showtime';
  src: url(../../assets/Showtime.ttf);
}
.App {
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: 'Showtime';
  font-size: 3rem;
  background-color: #0b0a0af6;
}
