.router-link {
  text-decoration: none;
  cursor: default;
  color:  #1E2019;
  background-size: cover;
  background-position: center;
  border-radius: .75rem;
  box-shadow: 0 0 .2rem #fff,
  0 0 .7rem #b9c207,
  0 0 4.5rem #dcfc5a60,
  0 0 1.3rem #fcfff1de,
  0 0 3.75rem #a9ce14;
  max-width: 100%;
}

.movie-detail-main {
  font-family: 'Courier New', Courier, monospace;
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  width: 80vw;
  background-color:#d6e1aa0a;
  border-top: 1px rgba(181, 215, 29, 0.286) solid;
  padding-top: 3rem;
  padding: 2rem;
}

.movie-overview {
  margin: 1rem;
  padding: .75rem;
  border-radius: 7px;
  font-size: 22px;
  width: 45vw;
  color: #9E6C49;
  background-color: azure;
}
.selected-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 5rem;
  border: 1px #d6e1aa solid;
  border-radius: 7px;
  background-color: #dcfc5ad1;
  padding: 1rem;
  margin: 1.5rem;
}
.selected-tagline {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.25rem;
  text-shadow:#eaebcfb2;
  color:#cfd800;
}
.detail {
  color:#cfd800;
  padding: .35rem;
}
.poster {
  max-width: 250px;
  max-height: 400px;
  z-index: 0;
}