.navbar {
    /* display: flex; */
    /* justify-content: center; */
    height:100%;
    align-items: center;
    background-color: #00000000;
    color: #cfd800;
}

.pear-logo {
    height: 100px;
    /* margin: 10px; */
    /* padding-right: 15rem */
}

.title-container {
  padding: 80px
}

h1 {
   /* padding:0px; */
   margin: 0;
    background-color: #00000000;
    /* animation: flicker 1.5s infinite alternate; */
    animation: pulsate 1.5s infinite alternate;    
  }

  .title {
    padding:0
  }

  .btn-container {
    display: flex;
    justify-content: center;
  }

  .home-btn, .back-btn {
    color: #cfd800;
    cursor: pointer;
    font-size: 2rem;
    /* font-family: Showtime; */
    background-color: #00000000;
    display: inline-block;
    box-shadow: px 1px 5px #cfd800;
    animation: pulsate 1.5s infinite alternate; 
    margin: 20px
  
  }




  /* .broke{
    animation: flicker 1.5s infinite alternate;
  } */

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #cfd800,
        0 0 80px #cfd800,
        0 0 90px #cfd800,
        0 0 100px #cfd800,
        0 0 150px #cfd800;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }

@keyframes pulsate {
    100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #cfd800,
        0 0 80px #cfd800,
        0 0 90px #cfd800,
        0 0 100px #cfd800,
        0 0 150px #cfd800;
    }
    0% {
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #cfd800,
      0 0 45px #cfd800,
      0 0 55px #cfd800,
      0 0 70px #cfd800,
      0 0 80px #cfd800;
  }
}