.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #cfd800;
}

img {
    height: 100px;
    margin: 10px;
}

 .pear{   filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    animation: pulsate 1.5s infinite alternate;  
}

h1 {
    /* animation: flicker 1.5s infinite alternate; */
    animation: pulsate 1.5s infinite alternate;    
  }

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #cfd800,
        0 0 80px #cfd800,
        0 0 90px #cfd800,
        0 0 100px #cfd800,
        0 0 150px #cfd800;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }

@keyframes pulsate {
    100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #cfd800,
        0 0 80px #cfd800,
        0 0 90px #cfd800,
        0 0 100px #cfd800,
        0 0 150px #cfd800;
    }
    0% {
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #cfd800,
      0 0 45px #cfd800,
      0 0 55px #cfd800,
      0 0 70px #cfd800,
      0 0 80px #cfd800;
  }
}