.movie-tile {
  display:flex;
  flex-direction: column;
  margin: 2rem;
  border: 0.5px white solid;
  transition: all .35s ease-in;
}

.movie-tile > img {
  max-width: 100%;
}

.movie-tile:hover {
  border: 1px #a9ce14 solid;
  cursor: pointer;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #a9ce14,
  0 0 0.8rem #a9ce14,
  0 0 2.8rem #a9ce14,
  inset 0 0 1.3rem #a9ce14; 
  transform: scale(1.35); 
}

.tile-link {
  transition: all .35s ease-in;
} 
.tile-link:focus {
  outline-color: #8fd631
}

.poster-img {
  align-self: center;
  height: 18rem;
}