.movie-tile {
  display:flex;
  flex-direction: column;
  align-self: center;
  height: 29rem;
  width: 13rem;
  margin: 1rem;
  padding: 1rem;
  border: 1px white solid;
  color: white
}

.poster {
  align-self: center;
  height: 18rem;

}

.tile-heading {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.tile-detail {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10px;
}